/Lab02/JavaApplication75/nbproject/private/
/Lab02/JavaApplication76/nbproject/private/
/Lab02/JavaApplication76/build/

.idea
.idea/*

out
out/*
/Lab02/JavaApplication/nbproject/private/
/Lab02/JavaApplication/build/
/HW02/JavaApplication2/nbproject/private/

build
nbproject
manifest.mf